.promo {
    min-height: 650px;
    padding: 21px 93px 0;
    background: url('../../img/bg/main_bg.png') center (center/cover) no-repeat;
	&__title {
		color: #ffffff;
		font-size: 42px;
		line-height: 42px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: right;
		margin-top: 102px;
	}
	&__subtitle {
		color: #ffffff;
		font-size: 24px;
		font-weight: 500;
		text-transform: uppercase;
		text-align: right;
	}
}
